Financial Assistant automation workflow.json
{
  "name": "Financial Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        336
      ],
      "id": "46c3935a-2a9f-4e98-a96b-9c5ed26163e5",
      "name": "Telegram Trigger",
      "webhookId": "d1776f3e-8262-409d-a4dd-36b25eac1911",
      "credentials": {
        "telegramApi": {
          "id": "BvammRoFkNsuQHpg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "bb89a47f-e2ad-46d0-9504-18bef30a451d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "86728c3b-fd6d-4acc-82e8-a0802351f3a2",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -272,
        336
      ],
      "id": "be383403-99b5-4a71-bbff-7166f2d0a6d0",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa2994d-7030-4ed6-abf3-f8421a9f6909",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        432
      ],
      "id": "ec7dae72-8bdb-4180-a721-bcd45368a2cc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        240
      ],
      "id": "45ab781e-1514-44ff-bb2c-b739c86ab3b7",
      "name": "Get a file",
      "webhookId": "0e519941-7a9e-44bc-ad85-1d2e4e4f5f27",
      "credentials": {
        "telegramApi": {
          "id": "BvammRoFkNsuQHpg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "64185fca-bc78-4cfd-919b-afea7a42c9b0",
      "name": "Transcribe a recording",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "zbp4scw8QV4bfl74",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfa2994d-7030-4ed6-abf3-f8421a9f6909",
              "name": "message.text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        240
      ],
      "id": "3de8cf25-72d5-492b-b21f-3736ae8fe4db",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n{{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are my financial assistant. You help me track money using Google Sheets and Telegram.\n\n## Today's Date\n{{ $now.format('YYYY-MM-DD') }}\n\n## Your Job\nWhen I tell you about spending or receiving money, save it to Google Sheets and confirm.\n\n## Rules\n1. Call Google Sheets tool ONCE only per transaction\n2. After saving, send ONE short confirmation then STOP\n3. Never repeat yourself\n4. Never loop or retry\n5. Keep responses under 5 lines\n\n## Google Sheets Columns (5 total)\nDate | Type | Category | Amount | Detail\n\n## Categories\nIncome: Salary, Freelance, Business, Investments, Gifts, Refunds, Other\nExpenses: Food & Dining, Transportation, Housing, Utilities, Healthcare, Entertainment, Shopping, Education, Subscriptions, Other\n\n## How to Respond\n\nFor ONE transaction:\n✅ [Type] - [Category]\n💰 [Amount]\n📝 [Detail]\n\nFor MULTIPLE transactions:\n✅ Added [number] items:\n1. [Category] - [Amount]\n2. [Category] - [Amount]\n\nFor questions about my spending:\n📊 [Answer their question with numbers]\n\n## Examples\n\nUser: \"Spent 20 on dinner\"\nYou: \n✅ Expense - Food & Dining\n💰 20\n📝 Dinner\n\nUser: \"Got 500 salary\"\nYou:\n✅ Income - Salary\n💰 500\n\nUser: \"Bought coffee 5 and lunch 15\"\nYou:\n✅ Added 2 items:\n1. Food & Dining - 5 (Coffee)\n2. Food & Dining - 15 (Lunch)\n\n## Important\n- ONE tool call per transaction\n- ONE short response\n- Then STOP completely",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        816,
        336
      ],
      "id": "76cddfe8-174d-4df0-a3cd-a4ba7a1f63a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        560
      ],
      "id": "35f693f1-a46a-4e3b-97c6-270755ed2b71",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "8RdIKgJSF1bE8YGI",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        560
      ],
      "id": "4279c3a2-18dc-47f3-9573-83bb974ac707",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18",
          "mode": "list",
          "cachedResultName": "Telegram Financial Assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1618851375,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18/edit#gid=1618851375"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        880,
        560
      ],
      "id": "64650888-3a48-4608-b37d-cd99724ab63b",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W4Kd0mQpev2ISC7M",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18",
          "mode": "list",
          "cachedResultName": "Telegram Financial Assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1618851375,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18/edit#gid=1618851375"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Day": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Day__using_to_match_', ``, 'string') }}",
            "Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Detail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Detail', ``, 'string') }}"
          },
          "matchingColumns": [
            "Day"
          ],
          "schema": [
            {
              "id": "Day",
              "displayName": "Day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Detail",
              "displayName": "Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1008,
        560
      ],
      "id": "35bfa38c-c33e-45ca-a9f8-e6ec89120618",
      "name": "Append_or_update_row_in_Google_Sheets",
      "notesInFlow": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W4Kd0mQpev2ISC7M",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Add one row to sheet. Call ONCE only. Never repeat."
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        336
      ],
      "id": "15cdaff4-e203-41b8-a703-1aa9497e08e3",
      "name": "Send a text message",
      "webhookId": "d51ecfbd-8ddf-4865-bf96-6821c6ae8af2",
      "credentials": {
        "telegramApi": {
          "id": "BvammRoFkNsuQHpg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b40f43ea-c7de-4476-9f9e-1d95732b231a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        336
      ],
      "id": "da4444b2-b3c8-4f0f-ad9a-623f8fa4e4c5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18",
          "mode": "list",
          "cachedResultName": "Telegram Financial Assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1618851375,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EjEQo9mq9TFy-hZqXfF-9gv4zfGrcobhajrMunYoh18/edit#gid=1618851375"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1136,
        560
      ],
      "id": "0fa44267-0a83-469e-a2fb-e481d2440adb",
      "name": "Delete rows or columns from sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W4Kd0mQpev2ISC7M",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram Trigger\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Incoming Telegram message detected → If voice, send to transcription path; if text, route directly to text processing.",
        "height": 416,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        256
      ],
      "id": "b69d80e6-ab94-4453-b600-894112889cf8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Voice Path\n\n### Fetch the media file from Telegram, process it, and run it through Gemini Transcribe Recording to convert the audio into text\n",
        "height": 288,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        112
      ],
      "id": "0f24dcce-d81b-4f02-a8d2-795761fe007a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Text path",
        "height": 224,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        416
      ],
      "id": "fd53187a-aa04-43e1-8c26-7e6c4ea85f12",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Ai Agent Financial Assistant \n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### After processing both voice and text inputs, the AI Agent runs using OpenAI OSS 120B with Simple Memory, and interacts with Google Sheets through update, retrieve, and delete operations.\n",
        "height": 704,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        160
      ],
      "id": "7d10fe7c-eec9-48f4-ba80-dd2d7a4792c3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Send a Telegram message \n\n### The AI Agent automatically sends a message to your Telegram bot with a concise summary of your financial routine.\n\n",
        "height": 400,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        144
      ],
      "id": "fa9e2309-1d66-4462-a12a-ad523194638c",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append_or_update_row_in_Google_Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "304c11b4-fdc5-43b2-8adc-c48e247f94db",
  "meta": {
    "instanceId": "c8ea2b658521f5864a5790da08e96b345822646587d5b828e4533da35572af98"
  },
  "id": "qmeaRpZiPNX8zq8A",
  "tags": []
}